[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "==1.30.0"
future = "==0.18.2"
mypy-protobuf = "==1.18"
nose = "*"
google-cloud = "*"
PyHamcrest = "*"
google-resumable-media = "*"

[dev-packages]
apache-beam = {extras = ["gcp"], version = "*"}
google-cloud-storage = "*"
google-cloud-bigquery = "2.6.1"

[requires]
python_version = "3.8"
